:root {
  --color-one: #0081a7;
  --color-two: #00afb9;
  --color-three: #fdfcdc;
  --color-four: #fed9b7;
  --color-five: #f07167;
}

body {
  background-color: var(--color-three);
}

.navbar-custom {
  background-color: var(--color-one);
}

.navbar-nav .nav-item:hover .nav-link {
  color: var(--color-five);
}

.title {
  text-align: center;
  margin-top: 80px;
}

.intro-paragraph {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 22px;
}

.intro-button {
  background-color: var(--color-two);
  color: var(--color-three);
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 40px;
  padding: 0px;
  padding-top: 5px;
}

.intro-button:hover {
  color: var(--color-three);
  opacity: 0.7;
  width: 210px;
  height: 70px;
  font-size: 30px;
  text-align: center;
  padding-top: 8px;
}

.footer {
  text-align: center;
  margin-top: 100px;
}

.card-container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  border-color: var(--color-five);
  border-width: 3px;
}

.wish-button {
  background-color: var(--color-two);
  color: var(--color-three);
  width: 120px;
  height: 40px;
}

.wish-button:hover {
  color: var(--color-three);
  opacity: 0.8;
}

.carousel {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  background-color: var(--color-one);
  margin-top: 50px;
  border-radius: 10px;
  border-color: var(--color-five);
  border-width: 4px;
  border-style: solid;
}

.carousel-inner {
  height: 230px;
}

.carousel-caption {
  color: var(--color-three);
  top: 50%;
  font-size: 16px;
}

.source {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-button {
  background-color: var(--color-two);
  color: var(--color-three);
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 180px;
  height: 40px;
  padding: 0px;
  padding-top: 5px;
}

.contact-button:hover {
  opacity: 0.8;
  color: var(--color-three);
}

.top-button {
  background-color: #00afb9;
  color: #fdfcdc;
  border-radius: 50px;
  margin-top: 30px;
  margin-right: 20px;
  float: right;
}

.top-button:hover {
  color: #fed9b7;
  opacity: 0.8;
}

@media only screen and (max-width: 700px) {
  .title {
    font-size: 30px;
    padding: 10px;
  }

  .card-container {
    display: flex;
    justify-content: center;
  }

  .wish-button {
    max-width: 100px;
  }

  .intro-paragraph {
    font-size: 18px;
  }

  .carousel {
    padding-bottom: 20px;
    margin: 10px;
  }
}
